/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB     &kp Q  &kp W  &kp F      &kp P  &kp B        &kp J    &kp L  &kp U             &kp Y    &kp SEMICOLON  &kp BSPC
&kp LSHFT   &kp A  &kp R  &kp S      &kp T  &kp G        &kp M    &kp N  &kp E             &kp I    &kp O          &kp RSHFT
&kp ESCAPE  &kp Z  &kp X  &kp C      &kp D  &kp V        &kp K    &kp H  &kp COMMA         &kp DOT  &kp FSLH       &kp ESC
                          &kp LCTRL  &mo 2  &kp SPACE    &kp RET  &mo 1  &kp LEFT_COMMAND
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB               &kp N1             &kp N2            &kp N3            &kp N4                &kp N5           &kp N6            &kp N7                 &kp N8           &kp N9             &kp N0  &kp BSPC
&kp C_BRIGHTNESS_INC  &kp C_VOLUME_UP    &kp LEFT_BRACKET  &kp LEFT_BRACE    &kp LEFT_PARENTHESIS  &kp LESS_THAN    &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &trans  &trans
&kp C_BRIGHTNESS_DEC  &kp C_VOLUME_DOWN  &kp C_PREVIOUS    &kp C_PLAY_PAUSE  &kp C_FAST_FORWARD    &trans           &trans            &trans                 &trans           &trans             &trans  &trans
                                                           &kp LGUI          &kp RALT              &kp SPACE        &kp RET           &trans                 &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH           &kp DLLR          &kp PRCNT    &kp CARET       &kp AMPS        &kp ASTRK     &kp LPAR         &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE  &trans       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &kp UNDERSCORE     &kp MINUS         &kp EQUAL    &kp UNDER       &kp PLUS        &trans        &trans           &kp PIPE  &kp TILDE
                             &kp LGUI           &trans            &kp SPACE    &kp RET         &kp BACKSPACE   &kp RALT
            >;
        };
    };
};
