/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        letters {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB     &kp Q  &kp W        &kp F           &kp P  &kp B               &kp J              &kp L  &kp U                &kp Y          &kp SEMICOLON  &kp BSPC
&kp GRAVE   &kp A  &kp R        &kp S           &kp T  &mt LEFT_SHIFT G    &mt RIGHT_SHIFT M  &kp N  &kp E                &kp I          &kp O          &kp MINUS
&kp ESCAPE  &kp Z  &mt LCTRL X  &mt LEFT_GUI C  &kp D  &kp V               &kp K              &kp H  &mt RIGHT_GUI COMMA  &mt RCTRL DOT  &kp FSLH       &kp UNDERSCORE
                                &kp BACKSPACE   &mo 2  &kp SPACE           &kp RET            &mo 1  &kp TAB
            >;
        };

        numbers {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB               &kp N1             &kp N2            &kp N3            &kp N4                &kp N5           &kp N6            &kp N7                 &kp N8           &kp N9             &kp N0  &kp BSPC
&kp C_BRIGHTNESS_INC  &kp C_VOLUME_UP    &kp LEFT_BRACKET  &kp LEFT_BRACE    &kp LEFT_PARENTHESIS  &kp LESS_THAN    &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &trans  &trans
&kp C_BRIGHTNESS_DEC  &kp C_VOLUME_DOWN  &kp C_PREVIOUS    &kp C_PLAY_PAUSE  &kp C_FAST_FORWARD    &trans           &trans            &trans                 &trans           &trans             &trans  &trans
                                                           &kp LGUI          &kp RALT              &kp SPACE        &kp RET           &trans                 &trans
            >;
        };

        arrows {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH           &kp DLLR          &kp PRCNT    &kp CARET       &kp AMPS        &kp ASTRK     &kp LPAR         &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE  &trans       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans             &trans            &kp EQUAL    &kp UNDER       &kp PLUS        &trans        &trans           &kp PIPE  &kp TILDE
                             &kp LGUI           &trans            &kp SPACE    &kp RET         &kp BACKSPACE   &kp RALT
            >;
        };
    };
};
